 /* tart variable  */
 :root{
--Strong-cyan: hsl(172, 67%, 45%);
--Very-dark-cyan: hsl(183, 100%, 15%);
--Dark-grayish-cyan: hsl(186, 14%, 43%);
--Grayish-cyan: hsl(184, 14%, 56%);
--Light-grayish-cyan: hsl(185, 41%, 84%);
--Very-light-grayish-cyan: hsl(189, 41%, 97%);
--White: hsl(0, 0%, 100%);
 }
 /*  end variable  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Kumbh Sans', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Space Mono', monospace;
}
.page{
    background-color: var(--Light-grayish-cyan);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.page .title  h1{
    text-align: center;
    color: var(--Dark-grayish-cyan);
    position: relative;
}

.page .body-calculatrice{
    /* width: 700px; */
    max-width: 100%;
    margin-top: 10px;
    background-color: var(--White);
    border-radius: 15px;
    padding: 10px;
    display: flex;
   justify-content: space-evenly;
    flex-wrap: wrap;
}

.page .body-calculatrice .info{
    width: 350px; 
    max-width: 100%;
    margin-right: 20px;
}
.page .body-calculatrice .result{
    width: 350px; 
    max-width: 100%;
}
.page .info input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px ;
    outline: none;
    background: var(--Light-grayish-cyan);
    border: none;
    border-radius: 5px;
    direction: rtl;
    font-weight: bold;
    color: var(--Very-dark-cyan);
 
}
.page .info .bill  {
    position: relative;
}

.page .info .bill i {
    position: absolute;
    top: 7px;
    left: 9px;
    font-size: 26px;
    /* color: white; */
    color: var(--Dark-grayish-cyan);
}
.page .info .numbre  {
    position: relative;
}

.page .info .numbre i {
    position: absolute;
    top: 7px;
    left: 9px;
    font-size: 26px;
    /* color: white; */
    color: var(--Dark-grayish-cyan);
}

.page .info{
    text-transform: capitalize;
}
 .page .info .grid-responsive{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(90px,1fr));
    margin-bottom: 15px;
    padding: 7px;
}
.page .info .grid-responsive input{
    outline: none;
    background: var(--Light-grayish-cyan);
    border: none;
    border-radius: 5px;
    direction: rtl;
}
.page .info .grid-responsive button{
    background-color: var(--Very-dark-cyan);
    color: white;
    padding: 9px;
    border:  none;
    transition: all .3s ease;
    cursor: pointer;
    border-radius: 3px;
}
.page .info .grid-responsive button:hover{
    background-color: var(--Light-grayish-cyan);
}
.page .info .custumporcentage input{
    outline: none;
    background: var(--Light-grayish-cyan);
    border: none;
    border-radius: 5px;
    direction: rtl;
    width: 109px;
    padding: 10px;
    margin: 0;
}
.page .result{
    background-color: var(--Very-dark-cyan);
    padding: 15px;
    border-radius: 15px;
    
}
.page .result .tips{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.page .result .tips .amount h3,
.page .result .tips .total h3{
    color: white;
}
.page .result .tips .amount p,
.page .result .tips .total p{
   color: var(--Light-grayish-cyan);
}
.page .result .tips h1{
    color: var(--Strong-cyan);
}
.page .result button{
    width: 100%;
    padding: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: var(--Strong-cyan);
    border: none;
    outline: none;
   
    transition: all 0.4s ease;
    font-size: 18px;
   margin-top: 40px;

}
.page .result button:hover{
    background-color: var(--Light-grayish-cyan);
}